/*abous-us*/
main{

    .us{
        width: 100%;
        margin: auto;
        margin-top: 50px;
        padding: 40px;
        padding-bottom: 300px;
        max-width: 800px;
        background-color: #fff;
        text-align: center;
        justify-content: center;
        
        p{
            justify-content: center;
            
            }
        }

}
